
nav {
  display: flex;
  align-items: center;
  padding: 10px;
  position: sticky;
  background-color: rgba(20, 2, 2, 0.8);
  width: 100%;
  top: 0;
}

:root {
  --color-principal: #af007b;
  --tamaño-texto: 16px;
}

h1 {
  color: var(--color-principal);
}

.menu {
  margin-left: auto; 
}

.logo {
  width: 40px;
  border-radius: 20%;
}

ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

.fondo_seccion {
    background-image: linear-gradient(rgba(117, 11, 11, 0.5), rgba(15, 4, 4, 0.5)), url("https://wallpapers.com/images/hd/red-abstract-background-2i1u5cb8u8zamxur.jpg");
    background-size: cover;
    background-position: center;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fondo_seccion2 {
    background-image: linear-gradient(rgba(117, 11, 11, 0.5), rgba(15, 4, 4, 0.5)), url("https://wallpapers.com/images/hd/red-abstract-background-2i1u5cb8u8zamxur.jpg");
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


body {
  font-family: "Sekuya", system-ui;
  font-weight:400;
  font-style: normal;
  color:rgb(248, 248, 248);

}


.menu a {
    color: rgb(248, 248, 248);
    text-decoration: none;
    font-size: 18px;
}

.menu a:hover {
    color: rgb(133, 2, 2);
}

body {
    background-color: rgb(20, 2, 2);
}

.h1_class {
    font-size: 60px;
    color: #fafafa;
    text-align: center;
    margin-top: 20px;
}

.flex_class {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    color: #ffffff;
}

.contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4rem;
}

.titulo {
    font-size: 2rem;
    color: #ffffff;
    text-align: center;
    margin-top: 20px;
}

 p {
    font-size: 1rem;
    color: #fdfdfd;
    text-align: justify;
    margin-top: 10px;
}

.titulo-mascota {
    font-size: 1.5rem

}

.imagen_class {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen_class img {
    width: 300px;
    height: auto;
    margin: 2rem;
    padding: 10px;
    border-radius: 30px;
    border: 2px solid #f7019171;
    box-shadow: 10px 10px 15px  #44013b;
}

.seccion_animales {
    background-color: rgb(20, 2, 2);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.seccion_animales a{
    color: #f3f1f1;
    text-decoration: none;
    font-size: 18px;
}

.seccion_animales a:hover {
    color: rgb(133, 2, 2);
}

.formulario_class {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.caja_class {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.fotos_mascotas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.item {
    text-align: center;
    padding: 1rem;
    margin-bottom: 4rem;
    border: 2px solid #44013b;
    border-radius: 30px;
    box-shadow: 5px 10px 10px rgba(255, 12, 126, 0.466);
}

.item img {
    width: 80%;
    height: 80%;
    border-radius: 20px;
    border: 5px solid #c00b7b56;
    box-shadow: 5px 5px 10px rgba(255, 2, 120, 0.466)
}

section {
    margin-bottom: 2rem;
    margin-top: 2rem;
    padding-bottom: 2rem;
    

}

@media(max-width:1080px){
.fotos_mascotas{ grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}
.item {
    padding: 1rem;
    margin-bottom: 1rem;
}
}

@media(max-width:600px){
.fotos_mascotas{ grid-template-columns: repeat(1, 1fr);
    gap: 0;
}
.item {
    padding: 1rem;
    margin-bottom: 1rem;
}
}


